.plan-section {
  font-family: 'Montserrat';
  margin-top: 4rem;
  margin-bottom: 4rem;
  justify-content: space-evenly;

  @include large-screen {
    .plan-card + .plan-card {
      margin-top: 2rem;
    }
  }

  @include small-screen {
    .plan-card + .plan-card {
      margin-top: 2rem;
    }
  }

  .plan-card {
    position: relative;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgb(60 72 88 / 15%);
    transition: all .3s ease-out;
    background-color: $white;

    @include large-screen {
      flex: none;
      max-width: 50%;
      width: 50%;
      border-radius: 5px;

      margin-left: auto;
      margin-right: auto;

      &__title {
        border-radius: 5px 5px 0 0;
      }
    }

    @include small-screen {
      flex: none;
      max-width: 100%;
      width: 100%;
      border-radius: 5px;

      &__title {
        border-radius: 5px 5px 0 0;
      }
    }

    &:hover {
      box-shadow: 0 9px 21px rgba(181, 56, 54, 0.5);

      .plan-card__title {
        background-color: $red;
        overflow: hidden;
      }
    }

    &__title {
      font-family: "Staatliches";
      font-size: 1.2rem;
      text-align: center;
      border-radius: 5px 5px 0 0;
      font-weight: bold;
      line-height: 3rem;
      justify-content: center;
      color: $white;
      background-color: $darkred;
    }

    &__pricing {
      text-align: center;
      margin: 1rem 0;

      .price-amount {
        font-family: 'Source Sans Pro';
        font-size: 2.5rem;
        font-weight: lighter;
      }

    }

    &__benefit {
      font-family: 'Montserrat';

      ul {
        margin: 1rem 0;
        padding-inline-end: 40px;

        li {
          display: flex !important;
          flex-direction: column;
          border-top: 1px solid $lightgray;
          display: block;
          font-family: inherit;
          color: $darkgray;
          padding: .5rem 0;

          > * {
            line-height: 2rem;
          }

          a {
            color: inherit;
            display: block;
          }

          i {
            font-size: 1.2rem;
            align-self: center;
            margin-right: 1rem;
          }

          a.row:first-of-type {
            cursor: pointer;

            &:hover {
              > span.benefit__key {
                color: $red;
              }
            }
          }

          div.row {
            position: relative;
            justify-content: center;
            align-self: center;
            min-height: 2rem;
            min-width: 80%;

            .benefit__value {
              position: absolute;
              z-index: 2;
              font-weight: lighter;
              display: block;
              text-align: center;
              min-width: 100%;
              transition: all 0.1s linear;
            }
          }
        }
      }
    }

    &__bottom {
      display: flex;
      padding: 1rem;
      border-top: 1px solid $lightgray;
      justify-content: center;
      align-items: center;

      > * {
        font-family: "Source Sans Pro";
      }

      a {
        color: $red;
        padding: 0.5rem 1rem;
        line-height: 1.5rem;
        border: 3px solid $red;
        border-radius: 1.25rem;
        transition: all 0.3s linear;

        &.default {
          color: $white;
          background-color: $gray;
          border: 3px solid $gray;
        }

        &:hover:not(.default) {
          color: $white;
          background-color: $red;
          box-shadow: 0 3px 7px rgb(60 72 88 / 15%);          
        }
      }
    }
  }
}
