@import '../base/fonts.scss';
@import '../base/mixins.scss';
@import '../base/functions.scss';
@import '../base/variables.scss';


footer {
  font-family: 'Dosis';
  font-size: 0.8rem;
  padding-top: 2rem !important;
  padding-bottom: 3rem !important;
  margin-top: 3rem;
  color: $white;
  background-color: $darkgray;
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.3);

  @include small-screen {
    div {
      text-align: center;

      &:first-child {
        margin-bottom: 2em;
      }

      ul {
        padding: 0;

        li {
          text-align: center;
        }
      }
    }
  }

  div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    li + li {
      margin-top: 0.8em;
    }

    li a {
      font-family: 'Dosis';
      font-weight: lighter;

      &:hover {
        color: $deepgray;
      }
    }

    .contact-link img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      transition: transform 0.2s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  h2 {
    font-family: "Staatliches", san-serif;
  }
}
