<footer class="wrapper row">
    <div class="col-md-6">
        <h2>pdf2fdp</h2>
        <span>© 2021-2022, All right reserved.</span>
    </div>
    <div class="col-md-6 row">
        <div class="footer-link">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </div>
        <div class="footer-link">
            <ul>
                <li><a href="#">Term Of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="contact-link">
            <ul>
                <li><a href="#"><img src="assets/icons/facebook.svg" alt="Facebook"/></a></li>
                <li><a href="https://github.com/phhuyhoang"><img src="assets/icons/github.svg" alt="GitHub"/></a></li>
            </ul>
        </div>
    </div>
</footer>
