<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>PDF2FDP - Convert File Online</title>
    <link rel="stylesheet" href="styles/1b8354cb0be9972c9e73.css">
    <script type="text/javascript" src="scripts/1b8354cb0be9972c9e73.js"></script>
</head>
<body> 
    {{> header}}
    <div class="top-section wrapper row">
        <div class="top-section__content col-md-6">
            <h2>Free document converter online service</h2>
            <p>PDF2FDP is an online document converter. Unlike most other conversion sites, we mainly support converting from PDF to various image formats like SVG, PNG, JPEG, TIFF, etc. with the guarantee of both speed and quality.</p>
        </div>
        <div class="top-section__upload col-md-6">
            <button type="button" class="styled-button style-1">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Select File
            </button>
        </div>
    </div>
    <div class="convert-section wrapper row">
        <!-- Empty -->
    </div>
    <div class="preset-board-section wrapper row" title="Buy the premium plan to use this feature">
        <div class="preset-board">
            <div class="preset-board__title">
                <i class="fa fa-wrench mr-1" aria-hidden="true"></i>
                Options
            </div>
            <form class="preset-board__form row">
                <div class="col-md-6">
                    <div class="row">
                        <label for="dpi">DPI: </label>
                        <input type="number" id="dpi" name="dpi" placeholder="original" disabled/>
                    </div>
                    <div class="row">
                        <label for="pages">Pages: </label>
                        <input type="text" id="pages" name="pages" placeholder="all" disabled/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <label for="width">Width: </label>
                        <input type="number" id="width" name="width" placeholder="original" disabled/>
                    </div>
                    <div class="row">
                        <label for="height">Height: </label>
                        <input type="number" id="height" name="height" placeholder="original" disabled/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="promo-section wrapper row">
        <div class="promo-card col-md-3h">
            <div class="promo-card__title">
                Easy to Use
                <i class="fa fa-hand-point-up" aria-hidden="true"></i>
                <img src="assets/icons/button.svg">
            </div>
            <div class="promo-card__content"><p>Convert from PDF to image in just a few simple steps: Add a PDF file by <u>clicking the "Select File"</u> button at the top of the page, <u>select the image format</u> you want to convert to, then <u>click the "Convert"</u> button. You can register and buy a premium plan to convert more files at once and enjoy more premium features.</p></div>
        </div>
        <div class="promo-card col-md-3h">
            <div class="promo-card__title">
                Fast and Secure
                <i class="fa fa-cog" aria-hidden="true"></i>
            </div>
            <div class="promo-card__content"><p>With low-level processing technology and clear segments, we can convert any PDF file in a short time while keeping the original output quality. Besides, we guarantee your files will always be kept secret from any third party, so our conversion process is an absolutely closed process.</p></div>
        </div>
        <div class="promo-card col-md-3h">
            <div class="promo-card__title">
                Compression and Duration
                <i class="fa fa-file-download" aria-hidden="true"></i>
            </div>
            <div class="promo-card__content"><p>After the conversion is complete, you can download the file as a <u>zipped archive</u>. This file contains <u>numbered image files</u> according to the page number of the original PDF document. It will be stored on our system for <u>1 day (for free users)</u> or <u>7 days (for paid users)</u>.</p></div>
        </div>
    </div>
    {{> footer}}
</body>
</html>
