<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
    <title>PDF2FDP - Sign Up</title>
    <link rel="stylesheet" href="styles/3f3fa7db195d2f6a3799.css">
    <script type="text/javascript" src="lib/getEventListeners.min.js"></script>
    <script type="text/javascript" src="lib/xregexp-all.min.js"></script>
    <script type="text/javascript" src="scripts/3f3fa7db195d2f6a3799.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="row">
    {{> header}}
    <div class="multi-step-section col-lg-5 col-12">
    </div>
    <div class="register-form-section col-lg-7 col-12">
        <form class="register-form" role="form" method="POST" action="/register">
            <!-- empty -->
        </form>
    </div>
    {{> footer}}
</body>
</html>
