@mixin extra-small-screen {
  @media screen and (max-width: 575px) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin medium-screen {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

@mixin extra-large-screen {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cog-rolling {
  i:nth-of-type(1) {
    animation: rolling 1.5s linear;
    animation-iteration-count: infinite;
  }

  i:nth-of-type(2) {
    animation: rolling 1.5s linear;
    animation-iteration-count: infinite;
  }

  i:nth-of-type(3) {
    animation: inverse-rolling 1.5s linear;
    animation-iteration-count: infinite;
  }
}
