$default_rem: 16px;

$red: #B53836;
$darkred: #a3302e;
$blue: #328da8;
$white: #ffffff;
$zircon: #edf0f1;
$black: #000000;
$gray: #a3a3a3;
$lightgray: #d6d6d6;
$darkgray: #444444;
$deepgray: #666565;
