.convert-section {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  padding-top: 2rem;
  padding-bottom: 2rem;

  .convert-button {

    button {

      @include small-screen {
        font-size: 1rem;
        line-height: 1;
      }

      @include extra-small-screen {
        font-size: 0.8rem;
        line-height: 0.8;
      }

    }

  }

}
