.promo-section {
  font-family: 'Montserrat';
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;

  @include large-screen {
    display: block;

    .promo-card + .promo-card {
      margin-top: 2rem;
    }
  }

  @include small-screen {
    display: block;

    .promo-card + .promo-card {
      margin-top: 2rem;
    }
  }

  .promo-card {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);

    @include large-screen {
      flex: none;
      max-width: 50%;
      width: 50%;
      border-radius: 5px;

      margin-left: auto;
      margin-right: auto;

      &__title {
        border-radius: 5px 5px 0 0;
      }
    }

    @include small-screen {
      flex: none;
      max-width: 100%;
      width: 100%;
      border-radius: 5px;

      &__title {
        border-radius: 5px 5px 0 0;
      }
    }

    &__title {
      position: relative;
      line-height: 3em;
      padding: 0 1.5rem;
      font-weight: bold;
      color: $white;
      background-color: $red;

      i {
        font-size: 1.1rem;
        z-index: 2;
        position: absolute;
        top: 0.9rem;
        right: 1.5rem;

        &.fa-hand-point-up {
          animation: hand_touch 0.3s ease-out;
          animation-iteration-count: infinite;
        }

        &.fa-hand-point-up ~ img {
          position: absolute;
          z-index: 1;
          filter: invert(1);
          top: 1.9rem;
          right: 1.5rem;
          width: 0.8rem;
          height: 0.8rem;
          overflow: hidden;
          animation: button_pressing 0.3s ease-out;
          animation-iteration-count: infinite;
          animation-delay: 0.15s;
        }

        &.fa-cog {
          animation: rolling 1.25s linear;
          animation-iteration-count: infinite;
        }

        &.fa-file-download {
          animation: minimize 1s ease-out;
          animation-iteration-count: infinite;
        }

        @include extra-small-screen {
          font-size: 0.8rem;
        }
      }

      @include extra-small-screen {
        font-size: 0.8rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &__content {
      font-family: 'Dosis';
      padding: 1.5rem;
      line-height: 1.7rem;
      text-align: justify;
      text-justify: inter-word;

      p {
        margin: 0;
      }
    }
  }
}
