@import '../base/variables.scss';


div.progress-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  min-height: 3rem;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  background-color: $white;

  + .progress-bar {
    margin-top: 1.5rem;
  }

  &.empty-bar {
    justify-content: center;
    color: $gray;
  }

  &.style-1 {
    font-family: 'Dosis';

    &:active {
      .head {
        background-color: $darkred;
      }
    }

    .head {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 600;
      width: 50%;
      min-height: 3rem;
      padding: 0 1.5rem;
      color: $white;
      border-radius: 5px 0 0 5px;
      background-color: $red;
      overflow: hidden;
      text-overflow: ellipsis;

      i {
        position: absolute;
        right: 1.5rem;

        @include extra-small-screen {
          display: none;
        }
      }

      .fa-file {
        color: $white;
        animation: breathin 3s linear;
        animation-iteration-count: infinite;
      }

      .fa-cog {
        color: $white;
        animation: rolling 0.75s linear;
        animation-iteration-count: infinite;
      }

      .fa-check {
        color: $white;
      }

      @include small-screen {
        margin-right: 1rem;
      }

      @include extra-small-screen {
        font-size: 0.8rem;
      }
    }

    .body {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      min-height: 3rem;
      width: auto;

      span {
        @include large-screen {
          font-size: 0.8rem;
        }
      }

      span:first-of-type {
        @include medium-screen {
          display: none;
        }
      }

      .progress-indicator {

        &__total {
          position: relative;
          height: 15px;
          width: 10rem;
          border-radius: 5px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);

          @include small-screen {
            width: 8rem;
          }

          @include extra-small-screen {
            display: none;
          }
        }

        &__current {
          height: 100%;
          width: inherit;
          border-radius: inherit;

          &.endless-run {
            position: absolute;
            left: 0;
            animation: endless_run 1.5s ease-in-out;
            animation-iteration-count: infinite;
          }
        }

      }

      .dropdown-select {
        box-shadow: none;
      }

      .option-button {

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.5rem;
          height: 2.5rem;
          box-shadow: none;

          i {
            margin-right: 0;
          }

          &:hover i {
            animation: shake 0.5s linear;
          }

          &:disabled i {
            animation: none;
          }

          @include small-screen {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

      }

      .download-button {
        
        button {
          max-height: 2rem;
          display: flex;
          align-items: center;
          box-shadow: none;

          @include medium-screen {
            max-height: 1.5rem;
            font-size: 0.8rem;
          }

          @include extra-small-screen {
            max-height: 1rem;
            font-size: 0.7rem;
          }
        }

      }

      .transfer-tracker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span:nth-of-type(2) {
          display: block;
        }
      }

      .countup-timer {
        min-width: 3.5rem;
      }

      .error-alert {
        color: $red;
      }

      > *:not(:last-child) {
        margin-right: 2rem;

        @include medium-screen {
          font-size: 0.8rem;
          margin-right: 1rem;
        }
      }

      span {
        text-transform: uppercase;

        @include small-screen {
          display: none;
        }
      }
    }

    .tail {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      min-height: inherit;
      float: right;

      i {
        color: $red;
        transition: transform 0.2s ease-in-out;

        &:hover {
          color: $darkred;
          transform: scale(1.3);
        }

        &:active {
          transform: scale(1.3);
        }
      }
    }
  }

}
