button.styled-button {

  &.style-1 {
    padding: 1em;
    line-height: 1.25;
    border: none;
    border-radius: 5px;
    background-color: $red;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.3);

    i {
      display: inline-block;
      margin-right: 0.5rem;
    }

    &:disabled {
      background-color: $darkred;
      cursor: not-allowed;
    }

    &.disabled {
      background-color: $darkred;
      cursor: not-allowed;
    }

    &:hover {
      background-color: $darkred;
    }
  }

}
