.top-section {
  font-family: "Montserrat";
  padding-top: 6rem;
  padding-bottom: 3rem;
  color: $white;
  background-color: $red;

  &__plans {
    display: flex;
    justify-content: center;
    align-items: center;

    .toggle-switch {
      margin-top: 1.5rem;
    }
  }
}
