<header class="wrapper">
    <div class="brand">
        <div class="brand-inner">
            <a href="/" title="PDF2FDP - Convert File Online" tabindex="-1"></a>
            <div class="brand__front-face">
                <div class="brand__logo">
                    <img src="assets/logo/circle_icons_document.svg" style="width: 40px;" alt="logo" class="logo">    
                </div>
                <div class="brand__name">
                    <h2>pdf2fdp</h2>
                </div>
            </div>
            <div class="brand__back-face">
                <div class="brand__name">
                    <h2>pdf2fdp</h2>
                </div>
                <div class="brand__logo">
                    <img src="assets/logo/circle_icons_image.svg" style="width: 40px;" alt="logo" class="logo">    
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="nav d-none d-md-flex">
            <li class="nav__link"><a href="/pricing" tabindex="-1">Pricing</a></li>
            <li class="nav__link"><a href="/register" tabindex="-1">Register</a></li>
            <li class="nav__link"><a href="#" tabindex="-1">Login</a></li>
        </ul>
    </nav>
    <div class="mobile-nav">
        <input type="checkbox" id="mobile-nav-toggle">
        <label class="mobile-nav__btn d-flex d-md-none" for="mobile-nav-toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </label>
        <label class="mobile-nav__overlay" for="mobile-nav-toggle">
        </label>
        <div class="mobile-nav__menu">
            <label class="button-close d-flex d-md-none" for="mobile-nav-toggle">
                <i class="fa fa-times" aria-hidden="true"></i>
            </label>
            <ul class="mobile-nav__list">
                <li class="mobile-nav__link"><a href="/pricing">Pricing</a></li>
                <li class="mobile-nav__link"><a href="/register">Register</a></li>
                <li class="mobile-nav__link"><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
</header>
